<section class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="columns is-centered">
        <div class="box column is-one-third">
          <div class="box">
            <h1 class=" title has-text-centered">Typing Challenge</h1>
            <p>Try to copy the text exactly</p>
          </div>
          <div class="box">
            <p class="has-text-centered">
              <span *ngFor="let letter of randomText.split(''); let i=index;"
                [class]="compare(letter,enteredText[i])">{{letter}}</span>
            </p>
          </div>


          <div class="field">
            <input class="input" type="text" (input)="onInput($any($event).target.value)" />
          </div>

          <!-- <div class="box has-text-centered"> -->
          <!-- <h1 class="title" [hidden]="!isSuccessVisible">You Win!</h1> -->
          <div *ngIf="randomText===enteredText" class="box has-text-centered">
            <h1 class="title">Success!</h1>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>